body {
    padding: 0;
    margin: 0;
}

#container {
padding: 0;
margin: 0;
display:grid;
height:100vh;

grid-template-rows: 7% 7% 61% 15% 5% 5%;
grid-template-columns: 70% 30%;
grid-template-areas:
'hd hd'
'nav nav'
'mn as'
'mn as'
'. .'
'ft ft';
}

#container2 {
    padding: 0;
    margin: 0;
    display:grid;
    height:100vh;
    
    grid-template-rows: 7% 7% 61% 15% 5% 5%;
    grid-template-columns: 70% 30%;
    grid-template-areas:
    'hd hd'
    'nav nav'
    'mn mn'
    'mn mn'
    '. .'
    'ft ft';
    }
    #container3 {
        padding: 0;
        margin: 0;
        display:grid;
        height:100vh;
        
        grid-template-rows: 7% 7% 21% 55% 5% 5%;
        grid-template-columns: 70% 30%;
        grid-template-areas:
        'hd hd'
        'nav nav'
        'mn mn'
        'sc sc'
        '. .'
        'ft ft';
        }
    

header { 
grid-area: hd;
color: black;
display: flex;
align-items: left;
padding: 0 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans' Arial, sans-serif;
font-size: xx-large;
font-weight: bolder;
letter-spacing: 2px;

align-items: center;
justify-content: center;
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    background-color: white;
    border-top: 1px solid #ddeaf3;
    border-bottom: 1px solid #b3c5d3;
    justify-content: center;
  
    
}

.nav-knapp {
background-color: whitesmoke;
color: black;
border: none;
padding: 5px 10px;
border-radius: 4px;
width: 130px;
height: 30px;
cursor: pointer;
font-size: 13px;
display: block;
margin-right: 20px;
text-decoration: none;
font-weight: bold;
font-family: Helvetica, sans-serif;
display: flex;
align-items: center;
justify-content: center;
animation: normal;
transition: 0.1s;
}
.nav-knapp:hover {
    border-bottom: 3px solid #2e92df;
    margin-top: -10px;
}

aside {
    display: flex;
    grid-area: as;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #b3c5d3;;

}
.aside-title {
    font-size: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.center1 {
    text-align: center;
    width: 80%;
}
.left {
    width: 10%;
    text-align: left;
}
.news-mini {
padding: 30px 10px;
border: 2px;
border-color: #2980b9;
border-style: outset;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8px;
box-shadow: 1px 2px 3px #2980b9;
}

.main {
    grid-area: mn;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #b3c5d3;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto;
    overflow-y: scroll;

}

.main2 {
    grid-area: mn;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;



}

.InfoKort {
    padding-bottom: 20px;
    border: 2px;
    border-color: #2980b9;
    border-style: outset;
    border-radius: 8px;
    box-shadow: 1px 2px 3px #2980b9;
    margin-top: 10px;
    width: 300px;
    height: 200px;
    margin: 30px;

}

.Artikel {
    padding-bottom: 20px;
    border: 2px;
    border-color: #2980b9;
    border-style: outset;
    border-radius: 8px;
    box-shadow: 1px 2px 3px #2980b9;
    margin-top: 10px;
}


h2 {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
padding-left: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18x;
}

footer {
    grid-area: ft;
    height: 30vh;
    background-color: #69aedf;
    border-top: 1px solid #2980b9;
}

::-webkit-scrollbar {
    width: 10px;
    
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c4c0c0;
    border-radius:8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7a7979;
  }

  section {
    grid-area: sc;
    border-color: #2980b9;
    border-style: outset;
    border-radius: 8px;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }

  .RubrikHistoria {
padding-left: 13px;
  }

  .TextHistoria {
margin: 5px;

  }

.center {
    width: 80px; 
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.TitleCard {
text-align: center;
margin-top:0%;


}


